// ######################
// ##  General styles  ##
// ######################

* {
	box-sizing: border-box;
	font-family: $font-secondary;
	margin: 0 !important;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	background-image: url(../images/background.jpg);
	background-color: $black !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: auto;
	height: 100%;
	padding-top: 7rem !important;
}

.section-container {
	background-color: $dark-opa;
	color: $white;
}
