// ######################
// ##  General styles  ##
// ######################

* {
	box-sizing: border-box;
	font-family: $font-secondary;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	background-image: url(../images/background.jpg);
	background-color: $black !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	padding-top: 7.5rem !important;
}

.section-container {
	background-color: $dark-opa;
	color: $white;
	padding: 1rem;
	overflow: auto;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

#Home {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#made-by {
	margin-bottom: 0.3rem;
	margin-right: 0.6rem;
	color: $white;
	font-size: 0.9rem;
	div {
		color: red;
		display: inline;
	}
}

// ##################################
// ##  Home + sections animations  ##
// ##################################

.section-active {
	animation: sectionFadeIn 0.8s;
}

.nav-active {
	animation: homeFadeIn 0.8s;
	animation-timing-function: ease-out;
}

@keyframes sectionFadeIn {
	from {
		margin-top: 3rem;
		opacity: 0;
	}
	to {
		margin-top: 0%;
		opacity: 1;
	}
}

@keyframes homeFadeIn {
	from {
		margin-top: -6rem;
		opacity: 0;
	}
	to {
		margin-top: 0%;
		opacity: 1;
	}
}
