// #####################
// ##  Navbar styles  ##
// #####################

.navbar * {
	color: white !important;
}

#nav-name {
	white-space: nowrap;
	font-family: $font-primary;
	font-size: 3em;
	font-weight: 700;
}

.nav-home {
	padding-left: 0 !important;
}

#icons {
	i:not(:first-child) {
		margin-left: 2em;
	}
}

.nav-top {
	border: 5px solid beige !important;
	position: absolute;
	width: 100%;
	height: 5em;
	justify-content: space-between;
	#nav-message {
		display: none;
	}
	#icons {
		display: none;
	}
}

.nav-center {
	border: 5px solid blue !important;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	#nav-name {
		margin-bottom: 1em;
	}
	.contact {
		display: none;
	}
}
