// #################
// ##  Variables  ##
// #################

// ### Fonts ###
$font-default: 'Open Sans', sans-serif;
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Nunito', sans-serif;

// ### Colors ###
$dark-opa: #000000a0;
$white: #ffffff;
$black: #000000;
$grey: #a5a5a5;
$blue: #4d4dd6;
