// #################
// ##  Variables  ##
// #################

// ### Fonts ###
$font-default: 'Open Sans', sans-serif;
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Rubik', sans-serif;

// ### Colors ###
$white: #ffffff;
$black: #000000;
$blue: #3838d2;
