@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

@import 'navbar.scss';

* {
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}

body {
	background-color: rgb(39, 39, 39);
	height: 100vh;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 4rem);
	color: rgb(37, 204, 255);
}

#soon,
#tm {
	margin-bottom: 2rem;
}

#soon {
	font-size: 10em;
}

#tm {
	font-size: 5em;
}
