nav {
	color: #25ccff;
	height: 4em;
}

a {
	color: #25ccff !important;
}

.dropdown-menu {
	background-color: transparent;
	border: none;
}

.dropdown-item:hover {
	background-color: transparent;
	color: #88e3ff !important;
}
