@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0 !important;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-image: url(../images/background.jpg);
  background-color: #000000 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  height: 100%;
  padding-top: 7rem !important;
}

.section-container {
  background-color: rgba(0, 0, 0, 0.6274509804);
  color: #ffffff;
}

#nav-name-long,
#nav-name-short {
  color: #ffffff !important;
  font-family: "Lato", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  white-space: nowrap;
}

#nav-message {
  font-size: 1.8rem;
  color: #a5a5a5 !important;
  font-weight: lighter;
  margin: 0.7rem 0 1.4rem !important;
}
#nav-message div {
  color: #ffffff !important;
  display: inline;
  text-decoration: underline;
  -webkit-text-decoration-color: #4d4dd6;
          text-decoration-color: #4d4dd6;
  text-underline-offset: 0.3rem;
}

#nav-menu a {
  font-size: 1.3rem;
  color: #ffffff !important;
}
#nav-menu ul {
  margin: 0 !important;
}

.nav-home {
  padding-left: 0 !important;
}

.nav-general {
  margin-left: 1.2rem !important;
}

#icons {
  margin-top: 2.5rem !important;
  font-size: 1.7rem;
}
#icons i {
  margin-left: 2rem !important;
  color: #ffffff !important;
}
#icons i:first-child {
  margin-left: 1rem !important;
}

.nav-top {
  background-color: rgba(0, 0, 0, 0.6274509804) !important;
  border: 1px solid red;
  position: absolute;
  left: 0 !important;
  width: 100%;
  height: 5.3rem;
  justify-content: center !important;
  padding: 0 !important;
}
.nav-top * {
  border: 1px solid green;
}
.nav-top .nav-container {
  border: 1px solid white;
  display: flex;
  align-items: center;
}
.nav-top #nav-message {
  display: none;
}
.nav-top #icons,
.nav-top #nav-name-long {
  display: none;
}
.nav-top #nav-name-short {
  font-size: 2.5rem;
}

.nav-center {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav-center .contact,
.nav-center #nav-name-short {
  display: none;
}

@media (max-width: 991px) {
  .nav-center {
    align-items: center !important;
    text-align: center;
  }
  .nav-center #nav-name-long {
    font-size: 2.3rem;
    white-space: normal !important;
  }
  .nav-center #nav-message {
    font-size: 1.3rem;
    text-align: center;
    white-space: normal !important;
  }
  .nav-center #nav-menu {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    width: 100%;
    text-align: left;
  }
  .nav-center #nav-menu .show {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6274509804);
  }
  .nav-center .nav-link {
    margin-left: 2rem !important;
  }

  .navbar-toggler {
    width: 100%;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6274509804);
    padding: 1rem;
  }

  .navbar-collapse {
    background: rgba(0, 0, 0, 0.6274509804);
    padding-bottom: 2rem;
  }

  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler > .close {
    display: inline;
  }

  .navbar-toggler-icon .fas {
    font-size: 30px;
  }

  #icons {
    margin-top: 2.5rem !important;
    font-size: 1.7rem;
  }
  #icons i:first-child {
    margin-left: 0rem !important;
  }
}
@media (max-width: 172px) {
  #icons {
    display: flex;
    flex-direction: column;
    margin-top: 0rem !important;
  }
  #icons i {
    margin-left: 0rem !important;
    margin-top: 1rem !important;
  }
  #icons i:first-child {
    margin-top: 0rem !important;
  }
}
@media (min-width: 576px) {
  .nav-top .nav-container,
.section-container {
    border-color: purple;
    width: 540px;
  }
}
@media (min-width: 768px) {
  .nav-top .nav-container,
.section-container {
    border-color: beige;
    width: 720px;
  }
}
@media (min-width: 992px) {
  .nav-top .nav-container,
.section-container {
    border-color: blue;
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .nav-top .nav-container,
.section-container {
    border-color: green;
    width: 1140px;
  }
}
@media (min-width: 1440px) {
  .nav-top .nav-container,
.section-container {
    border-color: red;
    width: 1380px;
  }
}
@media (min-width: 1600px) {
  .nav-top .nav-container,
.section-container {
    border-color: yellow;
    width: 1560px;
  }
}/*# sourceMappingURL=styles.css.map */