@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-image: url(../images/background.jpg);
  background-color: #000000 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 7.5rem !important;
}

.section-container {
  background-color: rgba(0, 0, 0, 0.6274509804);
  color: #dcdad7;
  padding: 1rem;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#Home {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#made-by {
  margin-bottom: 0.3rem;
  margin-right: 0.6rem;
  color: #dcdad7;
  font-size: 0.9rem;
}
#made-by div {
  color: red;
  display: inline;
}

.section-active {
  -webkit-animation: sectionFadeIn 0.8s;
          animation: sectionFadeIn 0.8s;
}

.nav-active {
  -webkit-animation: homeFadeIn 0.8s;
          animation: homeFadeIn 0.8s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes sectionFadeIn {
  from {
    margin-top: 3rem;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

@keyframes sectionFadeIn {
  from {
    margin-top: 3rem;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes homeFadeIn {
  from {
    margin-top: -6rem;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}
@keyframes homeFadeIn {
  from {
    margin-top: -6rem;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}
#nav-name-long,
#nav-name-short,
#nav-name-shortest {
  color: #dcdad7 !important;
  font-family: "Lato", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  white-space: nowrap;
}

#nav-message {
  font-size: 1.8rem;
  color: #a5a5a5 !important;
  font-weight: lighter;
  margin: 0.7rem 0 1.4rem !important;
}
#nav-message div {
  height: 2.5rem;
  color: #dcdad7 !important;
  display: inline-block;
  border-bottom: 3px solid #4d4dd6;
}

#nav-menu a {
  font-size: 1.3rem;
  color: #a5a5a5 !important;
}
#nav-menu ul {
  margin: 0 !important;
}

.nav-link {
  display: inline-block;
}

.navbar-toggler {
  width: 100%;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.6274509804);
  padding: 1rem;
  border-radius: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon .fas {
  color: #dcdad7;
  font-size: 30px;
}

.nav-general {
  margin-left: 2rem !important;
}

#icons {
  display: flex;
  color: #dcdad7;
  margin-top: 2.5rem !important;
  font-size: 1.7rem;
}
#icons div {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#icons a {
  color: #dcdad7;
}

.nav-top {
  background-color: rgba(0, 0, 0, 0.6274509804) !important;
  position: absolute;
  left: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 5.3rem;
}
.nav-top .nav-container {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-top #nav-message {
  display: none;
}
.nav-top #nav-menu {
  height: inherit;
  width: inherit;
  width: 100%;
}
.nav-top .navbar-toggler {
  height: inherit;
}
.nav-top #icons,
.nav-top #nav-name-long {
  display: none;
}
.nav-top #nav-name-short,
.nav-top #nav-name-shortest {
  position: absolute;
  height: 5.3rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.nav-center {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav-center .contact,
.nav-center #nav-name-short,
.nav-center #nav-name-shortest {
  display: none;
}

@media (max-width: 991.98px) {
  .nav-center {
    align-items: center !important;
    text-align: center;
  }
  .nav-center #nav-name-long {
    font-size: 2.3rem;
    white-space: normal !important;
  }
  .nav-center #nav-message {
    font-size: 1.3rem;
    text-align: center;
    white-space: normal !important;
  }
  .nav-center #nav-menu {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    width: 100%;
    text-align: left;
  }
  .nav-center .navbar-toggler {
    height: 5.3rem;
  }
  .nav-center .navbar-nav {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background: rgba(0, 0, 0, 0.6274509804);
  }
  .nav-center .nav-link {
    margin-left: 2rem !important;
    margin-top: 1rem;
  }
  .nav-center #icons {
    justify-content: center;
    margin-top: 2rem !important;
    font-size: 1.7rem;
  }
  .nav-center #icons i:first-child {
    margin-left: 0rem !important;
  }
}
@media (max-width: 172px) {
  #icons {
    flex-direction: column;
    margin-top: 0rem !important;
  }
  #icons i {
    margin-left: 0rem !important;
    margin-top: 1rem !important;
  }
  #icons i:first-child {
    margin-top: 0rem !important;
  }
}
@media (max-width: 210px) {
  .nav-top .nav-container {
    justify-content: flex-end !important;
  }
  .nav-top .nav-container #nav-menu {
    align-self: flex-end;
  }
}
@media (max-width: 250px) {
  .nav-top #nav-name-shortest {
    display: none;
  }
}
@media (max-width: 475.98px) {
  .nav-top #nav-name-short {
    display: none;
  }
}
@media (min-width: 476px) {
  .nav-top #nav-name-shortest {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .nav-top .nav-link {
    margin-left: 2rem !important;
    margin-top: 1rem;
  }
  .nav-top .navbar-nav {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.6274509804);
  }
}
@media (min-width: 1200px) {
  .nav-top .navbar-collapse {
    height: inherit;
    justify-content: flex-end;
  }
  .nav-top .contact {
    padding-right: 1rem !important;
  }
}

@media (max-width: 374px) {
  .section-container {
    width: 100%;
  }
}
@media (min-width: 375px) {
  .section-container {
    width: 375px;
  }
}
@media (min-width: 576px) {
  .section-container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .section-container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .section-container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .section-container {
    width: 1140px;
  }
}
@media (min-width: 1440px) {
  .section-container {
    width: 1380px;
  }
}

.navbar-nav a {
  padding: 0 !important;
  position: relative;
}

.navbar-nav a:before,
.navbar-nav a:after {
  position: absolute;
  transition: all 0.15s ease;
}

.navbar-nav a:before {
  bottom: 0;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #4d4dd6 !important;
}

.navbar-nav a:after {
  left: 0;
  position: absolute;
  content: attr(data-hover);
  color: #dcdad7;
  max-width: 0%;
  overflow: hidden;
}

.navbar-nav a:hover:before,
.navbar-nav .current a:before {
  opacity: 1;
  width: 100%;
}

.navbar-nav a:hover:after,
.navbar-nav .current a:after {
  max-width: 100%;
}

.icon-container {
  width: 0px !important;
  height: 0px !important;
  border-radius: 50%;
  background-color: #4d4dd6 !important;
  transition: all 0.25s ease;
}

.icon-container:hover {
  padding: 26px;
  cursor: pointer;
}

#Links h2 {
  margin-bottom: 3rem;
}

#Portfolio h2 {
  margin-bottom: 3rem;
}/*# sourceMappingURL=styles.css.map */